{% extends "projects/base.html" %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">Title : <a href="#">{{ project.title }}</a></li>
            <li class="list-group-item">Descritpion : {{ project.description }}</a>
            </li>
            <li class="list-group-item">
                {% for tag in project.tags.all %}
                <span class="badge bg-warning text-dark">{{ tag }}</span> {% endfor %}
            </li>
            <li class="list-group-item"><a href="{% url 'update-project' project.id %}">Update Project : </a></li>
        </ul>
        <li class="list-group-item"><a class="btn btn-outline-danger" href="{% url 'delete-project' project.id%}">Delete Project : </a></li>
        </ul>
    </div </div>
    {% endblock content %}