{% extends 'main.html' %}
{% load static %}


{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'login' %}"><i class="im im-angle-left"></i></a>
            <br>
            <h3>Password reset Complete</h3>
            
            <p>Your password was successfully updated. Please Login to continue  </p>
            <br>
            <div class="auth__alternative">
                <p>Login </p>
                <a href="{% url 'login' %}">login</a>
              </div>


        </div>
    </div>
</main>

{% endblock content %}